---
layout: blog-home
title: Mapzai Blog
---

{% for post in site.posts %}

<article class="post">
{% if page.images %}
<div class="post-thumb">
    <img class="img-responsive" src="{{ page.images[0].url }}" alt="" />
    <div style="text-align:left;"><small><em>{{ page.images[0].caption}}</em></small></div>
    <br />
</div><!--//post-thumb-->
{% endif %}

    <div class="content">
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="meta">
            <ul class="meta-list list-inline">                                       
                <li class="post-time post_date date updated">{{ post.date | date: '%B %d, %Y' }}</li>
                <li class="post-author"> by <a href="#">{{ post.author }}</a></li>
            </ul><!--//meta-list-->                             
        </div><!--meta-->
        <div class="post-entry">
        <p>{{ post.excerpt }}</p>
        <a class="read-more" href="{{ post.url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>
</article><!--//post-->

{% endfor %}
