    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-6 col-xs-12">&copy; 2016 Mapzai</small>
                    <ul class="social col-md-6 col-sm-6 col-xs-12 list-inline">
                        <li><a href="https://twitter.com/map_zai" ><i class="fa fa-twitter"></i></a></li>
                        <!--<li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                        <li class="last"><a href="#" ><i class="fa fa-github"></i></a></li>-->
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->