        <!-- ******BLOG POST CTA****** --> 
<!--
        <section id="blog-cta" class="well blog-cta">
            <div class="text-center">
                <h3 class="title">Ready to kickstart your business with Tempo?</h3>
                <p class="summary">Sign up to try Tempo FREE for 30 days! No credit card needed.</p>
                <form class="signup-form" method="post" action="#">
                    <div class="form-group">
                        <label class="sr-only" for="semail2">Your email</label>
                        <input type="email" id="semail2" name="semail2" class="form-control" placeholder="Enter your email address" required>
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form><!--//signup-form-->
            <!--</div>
        </section>--><!--//signup-->
